{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 45,
    "logs": {
        "text": "php:\/\/stderr",
        "stryker": {
            "badge": "master"
        }
    },
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": false
    }
}
