<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false"
         executionOrder="default"
         resolveDependencies="true">

  <coverage>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>

  <php>
    <ini name="error_reporting" value="-1"/>
  </php>

  <testsuites>
    <testsuite name="ActiveRecord">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
