on:
  pull_request:
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-pgsql.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

  push:
    branches: ['master']
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-pgsql.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

name: db-pgsql

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: PHP ${{ matrix.php }}

    env:
      extensions: pdo, pdo_pgsql

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - 8.1
          - 8.2
          - 8.3
          - 8.4

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_DB: ar-test
          POSTGRES_USER: yii
          POSTGRES_PASSWORD: q1w2e3r4
        ports:
          - 5432:5432
        options: --name=postgres --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout.
        uses: actions/checkout@v4

      - name: Install PHP with extensions.
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.extensions }}
          ini-values: date.timezone='UTC'
          coverage: pcov

      - name: Update composer.
        run: composer self-update

      - name: Remove unused dependencies of DB drivers
        run: composer remove --dev yiisoft/db-sqlite yiisoft/db-mysql yiisoft/db-mssql yiisoft/db-oracle

      - name: Install Yii DB PostgreSQL driver
        uses: yiisoft/actions/install-packages@master
        with:
          packages: >-
            ['db-pgsql']

      - name: Run tests with phpunit.
        run: vendor/bin/phpunit --testsuite=Pgsql --coverage-clover=coverage.xml --colors=always --display-warnings --display-deprecations
        env:
          YII_PGSQL_DATABASE: ar-test
          YII_PGSQL_HOST: 127.0.0.1
          YII_PGSQL_PORT: 5432
          YII_PGSQL_USER: yii
          YII_PGSQL_PASSWORD: q1w2e3r4

      - name: Upload coverage to Codecov.
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
