on:
  pull_request:
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-sqlite.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

  push:
    branches: ['master']
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/db-sqlite.yml'
      - 'composer.json'
      - 'phpunit.xml.dist'

name: db-sqlite

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: PHP ${{ matrix.php }}-sqlite-${{ matrix.os }}

    env:
      COMPOSER_ROOT_VERSION: dev-master
      extensions: pdo, pdo_sqlite
      key: cache-v1

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest

        php:
          - 8.1
          - 8.2
          - 8.3
          - 8.4
          - 8.5

    steps:
      - name: Checkout.
        uses: actions/checkout@v4

      - name: Install PHP with extensions.
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.extensions }}
          ini-values: date.timezone='UTC'
          coverage: pcov

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3

      - name: Remove unused dependencies of DB drivers
        run: composer remove --dev yiisoft/db-mysql yiisoft/db-pgsql yiisoft/db-mssql yiisoft/db-oracle

      - name: Install required yiisoft/db and yiisoft/db-sqlite
        uses: yiisoft/actions/install-packages@master
        with:
          composer-root-version: 2.0.0
          packages: >-
            ['db', 'db-sqlite']

      - name: Run tests with phpunit.
        run: vendor/bin/phpunit --testsuite=Sqlite --coverage-clover=coverage.xml --colors=always --display-warnings --display-deprecations

      - name: Upload coverage to Codecov.
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
