on:
  pull_request:
    paths:
      - 'src/**'
      - '.github/workflows/mutation.yml'
      - 'composer.json'

  push:
    branches: ['master']
    paths:
      - 'src/**'
      - '.github/workflows/mutation.yml'
      - 'composer.json'

name: mutation

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mutation:
    name: PHP ${{ matrix.php }}-${{ matrix.os }}

    env:
      extensions: pdo, pdo_pgsql

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest

        php:
          - 8.4

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: root
          POSTGRES_DB: yiitest
        ports:
          - 5432:5432
        options: --name=postgres --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout.
        uses: actions/checkout@v4

      - name: Install PHP with extensions.
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.extensions }}
          ini-values: memory_limit=-1
          coverage: pcov

      - name: Update composer.
        run: composer self-update

      - name: Install db.
        uses: yiisoft/actions/install-subpackage@install-subpackage
        with:
          subpackage: db

      - name: Install db-pgsql.
        uses: yiisoft/actions/install-subpackage@install-subpackage
        with:
          subpackage: db-pgsql

      - name: Run infection.
        run: |
          vendor/bin/roave-infection-static-analysis-plugin --threads=2 --ignore-msi-with-no-mutations --only-covered --test-framework-options="--testsuite=Pgsql"
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
