on:
  pull_request:
    paths:
      - 'src/**'
      - '.github/workflows/rector.yml'
      - 'composer.json'
      - 'rector.php'

name: Rector

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  rector:
    uses: yiisoft/actions/.github/workflows/rector.yml@install-subpackage
    with:
      php: >-
        ['8.4']
      required-package: db
